body {
  background-color: #304d63;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
}

/* login */
.screen {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  width: 30rem;
  margin: auto;
}

/* registrasi */
.screen-registrasi {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  width: 30rem;
  height: 32rem;
  margin: 8rem auto 0;
}

.title {
  color: white;
  text-align: center;
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}


.masukkan-akun-anda {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.input-label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.input-field {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.masuk {
  background-color: #304d63;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.masuk:hover {
  background-color: #193047;
}

.registrasi {
  background-color: #304d63;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.registrasi:hover {
  background-color: #193047;
}


.anda-sudah-memiliki-akun {
  font-size: 14px;
  margin-top: 20px;
}

.daftar {
  color: #304d63;
  font-weight: 600;
  text-decoration: none;
  margin-left: 5px;
}