/* Set background color and center background image */
body {
  background-color: #304d63;
  background-image: url(https://anime-uploads.s3.amazonaws.com/projects/642731515f131ed963-1.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* Set styles for login form */
.login-username {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  width: 80%;
  max-width: 700px;
}

/* Set styles for form header */
.title {
  color: #304d63;
  font-family: "Inter";
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 50px;
  text-align: center;
}

/* Set styles for form fields */
.username-email,
.password {
  color: #304d63;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

/* Set styles for form input fields */
.rectangle-2,
.rectangle-3 {
  height: 44px;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Set styles for submit button */
.overlap-group {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #304d63;
  border-radius: 10px;
  height: 44px;
  width: 100%;
  margin-top: 20px;
}

.masuk {
  color: #ffffff;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 100%;
}

/* Set styles for sign up link */
.anda-sudah-memiliki-akun {
  color: #304d63;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.daftar {
  color: #1c46db;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 5px;
